@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: #0e0918; /* Dark background color that matches your theme */
  background-image: url("/background-swirl.webp");
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.3s ease-in;
}
:root {
  --color-primary: theme('colors.primary');
  --color-secondary: theme('colors.secondary');
  --color-tertiary: theme('colors.tertiary');
}

@layer base {
  h2 {
    @apply text-gray-100 text-lg font-semibold;
  }
  h3 {
    @apply text-gray-200 text-base font-semibold;
  }
  h5 {
    @apply text-gray-300 text-xs;
  }
}

@layer components{
  .background-blur{
    @apply overflow-hidden backdrop-filter backdrop-blur-2xl  bg-opacity-20 bg-primary shadow-2xl rounded-xl
  }
  .avatar.online:before{
    /* background-color : var(--color-tertiary); */
    background-color : #32cd32;
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
    width: 16%;
    height: 16%;
    top: 8%;
    right: 0%
  }
  .avatar.offline:before{
    background-color : #5a5a5a;
    outline-style: solid;
    outline-width: 1px;
    outline-color: black;
    width: 16%;
    height: 16%;
    top: 8%;
    right: 0%
  }
  .avatar.offline{
    border-color : black;
  }
  
}

@layer utilities {
  .borderColor {
    @apply border-gray-700;
  }
  .gradient-text{
    @apply bg-gradient-to-r from-[#863ffa] to-[#3ec0fc] bg-clip-text text-transparent
  }
  .bg-gradient{
    @apply  bg-gradient-to-r from-[#863ffa] to-[#3ec0fc] hover:bg-gradient-to-br
  }
  .scrollable-div {
    scrollbar-color: var(--color-secondary) transparent;;
    scrollbar-width: thin;
  }
  .hidden-scrollable-div {
    scrollbar-color: transparent transparent;;
    scrollbar-width: thin;
  }

  .input-field-styles{
    @apply bg-quaternary text-gray-400 border border-gray-700
  }
  
  .auth-btn{
    @apply  w-full text-gray-200
  }
  .error-msg{
    @apply text-red-500 text-xs ps-2
  }
}

.animated-gradient {
  background: linear-gradient(
    to right,
    #863ffa,
    #3ec0fc,
    #863ffa
  );
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradient 3s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

 input:-webkit-autofill,
select:-webkit-autofill,
textarea:-webkit-autofill {
  background-color: transparent !important;
  color: #E5E7EB !important;
  -webkit-text-fill-color: #E5E7EB;
  transition: background-color 5000s ease-in-out 0s;
} 

input::spelling-error,
textarea::spelling-error {
  text-decoration: underline red wavy;
  -webkit-text-fill-color: #E5E7EB; 
}

.input:focus,
.input:focus-within {
  box-shadow: none;
  border-color: #374151;
  outline-style: solid;
  outline-width: 1px;
  outline-offset: 1.5px;
  outline-color: #495057;
}

label{
  background-color : rgba(29,35,42,0.6) !important;
}

